{% extends "layout.html.twig" %}
{% block content %}
<div class="breadcrumbs">
    <a href="/">Homepage</a> &raquo;
</div>

<h1>Confirmation</h1>
<p>We have received your order, thanks for shopping with us!</p>
{% endblock %}